//== Mixins usage
@mixin font($size, $weight: normal){
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
}

//== Basic
body { 
  @include font(14px); 
  color: $black;
}
a { cursor: pointer }

h1, h2, h3 {
  color: $grey--darker;
}

h2 {
  @include font(24px, 500);
}
