// Buttons
// —————————————————————————————————


.c-btn {
  align-items: center;
  background-color: $white;
  border: none;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px $btn--bdr;
  cursor: pointer;
  display: flex;
  height: $btn--height;
  line-height: $btn--height;
  outline: none;
  padding: 0 ($gutter * 1.2);
  text-align: center;
  
  //== Children
  p { color: $grey--darker }
  strong { color: $black }
  .c-icon {
    margin-left: -8px;
    margin-right: $gutter;
  }
  
  //== States
  &:hover {
    box-shadow: inset 0 0 0 1px $btn--bdr--hover;
  }
  &.c-btn--disabled {
    opacity: 0.6;
    pointer-events:none;
  }
  
  //== Variants
  &.c-btn--dropdown .c-icon {
    margin-left: $gutter;
    margin-right: -7px;
  }

  &.c-btn--primary {
    background-color: $highlight-1;
    color: $white;
    box-shadow: inset 0 0 0 1px $highlight-1;
    
    .c-icon {
      margin-right: 0;
      background-color: $highlight-1;
    }
    
    &:hover {
      background-color: $highlight-2;
      box-shadow: inset 0 0 0 1px $highlight-2;
      .c-icon {
        background-color: $highlight-2;
      }
    }
  }

  &.c-btn--info {
    background-color: $blue--base;
    color: $white;
    box-shadow: none;
    
    .c-icon {
      margin-right: 0;
      background-color: $blue--base;
    }
    
    &:hover {
      background-color: darken($blue--base, 10%);
      .c-icon {
        background-color: darken($blue--base, 10%);
      }
    }
  }

  &.c-btn--icon {
    padding-left: 4px;
    padding-right: 4px;

    .c-icon {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}


.c-btn__count {
  background-color: rgba(#000, 0.05);
  border-radius: 0 $border-radius $border-radius 0;
  display: inline-block;
  height: $btn--height;
  line-height: $btn--height;
  margin: 0 (-$gutter * 1.2) 0 ($gutter * 1.2);
  width: $btn--height;

  //== Variants
  .c-btn--primary & { background-color: rgba(#000, 0.1) }
}