// Logo
// —————————————————————————————————

.c-logo {
  background-image: url(#{$img-path}logo.svg);
  background-size: cover;
  display: inline-block;
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  border-radius: $border-radius;

  //== Variants
  &.c-logo--header { margin-right: ($gutter * 2) }
  &.c-logo--auth { margin-bottom: ($gutter * 8) }
}
