.c-progress {
  width: 230px;
  background: $grey--light;
  height: $gutter;
  border-radius: $gutter/2;
  
  .c-progress__done {
    height: $gutter;
    border-radius: $gutter/2;
    background: $purple--dark;
  }
}