.c-tag {
  background-color: $tag--bkg;
  border-radius: $border-radius/2;
  color: #fff;
  display: inline-block;
  height: $tag--height;
  line-height: $tag--height;
  padding: 0 ($gutter / 2);
  @include font(10px, 600);
  vertical-align: middle;

  //== Variants
  &.c-tag--pos { background-color: $tag--bkg--pos }
  &.c-tag--neg { background-color: $tag--bkg--neg }
  &.c-tag--info { background-color: $blue--base }
}
