// Auth
// —————————————————————————————————


.l-auth {
  background-color: $auth--bkg;
  display: flex;
  height: 100%;
}

.l-auth__text {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: ($gutter * 8);

  h1 {
    color: $blue--base;
    @include font(32px, 600);
    margin-top: $gutter * 8;
    margin-bottom: $gutter * 4;
  }
}

.l-auth__picture {
  background-image: url(#{$img-path}/illustrations/illustration--home-heading@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}
