// Base
// —————————————————————————————————

html, body {
  min-height: 100%;
  width: 100%;
}

body { 
  background-color: $body-bkg 
}

.l-wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 1080px;
}
.unwrap {
  margin: 0 (-$gutter * 2);
}
.l-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}
.l-content {
  padding: ($header--height + $gutter * 4) 0 ($gutter * 4);
}



.l-login__wrap {
  max-width: 460px;
  width: calc(100% - (#{$gutter} * 4));
}
.l-separator {
  min-height: 1px;
  position: relative;

  span {
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
  }
  i {
    font-style: normal;
    position: relative;
    z-index: 2;
  }
}


//== Margins
.l-ma { margin: $gutter; }
.l-mb { margin-bottom: $gutter; }
.l-ml { margin-left: $gutter; }
.l-mr { margin-right: $gutter; }
.l-mt { margin-top: $gutter; }
.l-hma { margin: ($gutter / 2); }
.l-hmb { margin-bottom: ($gutter / 2); }
.l-hml { margin-left: ($gutter / 2); }
.l-hmr { margin-right: ($gutter / 2); }
.l-hmt { margin-top: ($gutter / 2); }
.l-dma { margin: ($gutter * 2); }
.l-dmb { margin-bottom: ($gutter * 2); }
.l-dml { margin-left: ($gutter * 2); }
.l-dmr { margin-right: ($gutter * 2); }
.l-dmt { margin-top: ($gutter * 2); }
.l-nm { margin: 0 }
.l-nmb { margin-bottom: 0; }
.l-nml { margin-left: 0; }
.l-nmr { margin-right: 0; }
.l-nmt { margin-top: 0; }


//== Paddings
.l-dp--large { padding: ($gutter * 4) }
.l-pa { padding: $gutter; }
.l-pb { padding-bottom: $gutter; }
.l-pl { padding-left: $gutter; }
.l-pr { padding-right: $gutter; }
.l-pt { padding-top: $gutter; }
.l-hpa { padding: ($gutter / 2); }
.l-hpb { padding-bottom: ($gutter / 2); }
.l-hpl { padding-left: ($gutter / 2); }
.l-hpr { padding-right: ($gutter / 2); }
.l-hpt { padding-top: ($gutter / 2); }
.l-dpa { padding: ($gutter * 2); }
.l-dpb { padding-bottom: ($gutter * 2); }
.l-dpl { padding-left: ($gutter * 2); }
.l-dpr { padding-right: ($gutter * 2); }
.l-dpt { padding-top: ($gutter * 2); }
.l-np { padding: 0 }
.l-npb { padding-bottom: 0; }
.l-npl { padding-left: 0; }
.l-npr { padding-right: 0; }
.l-npt { padding-top: 0; }


//== Various
.l-br { border-radius: $border-radius }



//== Backgrounds and borders
//== Use variables defined within common/variables.scss
$colors: (
  primary-1: $primary-1,
  primary-2: $primary-2,
  secondary-1: $secondary-1,
  secondary-2: $secondary-2,
  secondary-3: $secondary-3,
  secondary-4: $secondary-4,
  highlight-1: $highlight-1,
  highlight-2: $highlight-2,
  black: $black,
  grey--darker: $grey--darker,
  grey--dark: $grey--dark,
  grey: $grey,
  grey--light: $grey--light,
  grey--lighter: $grey--lighter,
  blue--base: $blue--base,
  blue--light: $blue--light,
  red: $red,
  orange: $orange,
  yellow$yellow,
  turquoise: $turquoise,
  green: $green,
  brown: $brown,
  white: #fff,
  black--real: #000,
  black--real--transparent: rgba(#000, 0.1)
);

.l-bkg {
  @each $key, $val in $colors {
    &--#{$key},
    &--#{$key}--hover:hover,
    &--#{$key}--active.active,
    &--#{$key}--focus:focus { background-color: $val }
  }
}
.l-bdr {
  @each $key, $val in $colors {
    &--#{$key},
    &--#{$key}--hover:hover,
    &--#{$key}--active.active,
    &--#{$key}--focus:focus { border-color: $val }
  }
}
.l-bdr {
  border-style: solid;
  border-width: 1px;

  //== Variants
  &.l-bdr--double { border-width: 2px }
}
.l-shadow {
  box-shadow: 0 2px 5px rgba($primary-1, 0.1),
              0 0 0 2px rgba($primary-1, 0.05);
}
.l-shadow--small {
  box-shadow: 0 0px 5px rgba($primary-1, 0.1);
}



//== Responsive
html body .show-md,
html body .show-sm,
html body .show-xs { display: none !important }
html body .show-lg { display: block !important }

@media only screen and (max-width:$breakpoint-md){
  html body .hide-md,
  html body .show-lg { display: none !important }
  html body .show-md { display: block !important }
}

//== Responsive small
@media only screen and (max-width:$breakpoint-sm){
  html body .hide-sm,
  html body .show-md,
  html body .show-lg { display: none !important }
  html body .show-sm { display: block !important }
}

//== Responsive extra-small
@media only screen and (max-width:$breakpoint-xs){
  html body .hide-xs,
  html body .show-md,
  html body .show-sm,
  html body .show-lg { display: none !important }
  html body .show-xs { display: block !important }
  .u-tc--xs { text-align: center }
  .l-wrapper {
    border-radius: none;
    box-shadow: none;
    margin: -40px -5.5% (-$gutter * 4);
    min-height: calc(100vh - #{$header--height});
    padding: 0 !important;
    width: 100vw;
  }
}



