// Header
// —————————————————————————————————


.l-header {
  background-color: $header--bkg;
  flex: 0 0 auto;
  height: $header--height;

  //== Children
  .l-wrap {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.l-header__btn {
  position: relative;
  border-radius: $border-radius;
  display: flex;

  height: ($header--height - ($gutter * 3));
  line-height: ($header--height - ($gutter * 3)) + 6px;

  margin-right: ($gutter * 1.5);
  padding: 0 $gutter;

  @include font-pixel(20px);
  color: #fff;
  text-shadow: 0 2px 0 darken($header--bkg, 10%);

  &:hover {
    background-color: darken($header--bkg, 10%);
    text-shadow: 0 2px 0 darken($header--bkg, 20%);
  }

  &.active {
    background-color: darken($header--bkg, 20%);
    text-shadow: 0 2px 0 darken($header--bkg, 25%);
  }
}

.l-header__balance {
  display: inline-block;
  padding: 0 $gutter 0 $gutter * 4;
  margin-left: $gutter;
  border-radius: 0 $border-radius $border-radius 0;
}

.l-header__btn--user {
  padding: 0;
  margin-right: 0;
  background-color: darken($header--bkg, 10%);

  &:hover { background-color: darken($header--bkg, 15%) }

  img {
    margin: 3px $gutter 3px 3px;
    @include avatar(34px, $border-radius);
  }

  .l-header__balance {
    background: darken($header--bkg, 20%) url(#{$img-path}icons/icon--coin-received.svg) $gutter center no-repeat;
  }
}

.l-header__btn--give {
  padding-right: 0;
  background-color: $header--bkg--give;
  text-shadow: 0 2px 0 darken($header--bkg--give, 10%);
  margin-right: 0;
  margin-left: ($gutter * 1.5);

  &:hover { 
    background-color: darken($header--bkg--give, 5%);
    text-shadow: 0 2px 0 darken($header--bkg--give, 20%)
  }

  .l-header__balance {
    background: darken($header--bkg--give, 15%) url(#{$img-path}icons/icon--coin-give.svg) $gutter center no-repeat;
  }
}

.l-header__nav {
  display: flex;
  flex: 1 1 auto;
}
