// Header
// —————————————————————————————————


.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header--height;
  padding: 0 $gutter*2;

  display: flex;
  align-items: center;
  
  background-color: $header--bkg;
  box-shadow: 0 2px 2px rgba($grey--dark, 0.2);
}

.l-header__btn {
  position: relative;
  border-radius: $border-radius;
  display: flex;

  height: $btn--height;
  line-height: $btn--height;

  margin-right: ($gutter * 1.5);
  padding: 0 $gutter;

  @include font(14px, 500);

  background-color: $white;
  color: $blue--base;
  
  &:hover {
    background-color: $grey--light;
  }

  img {
    margin: 0;
    @include avatar($btn--height, $border-radius);
    position: relative;
    left: -$gutter;
  }
}

.l-header__nav {
  display: flex;
  flex: 1 1 auto;
  border-left: solid 2px $grey--light;
  line-height: 32px;
  
  a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding: 0 $gutter*2; 
    color: $grey--darker;
    @include font(14px, 500);
    border-right: solid 2px $grey--light;
    position: relative;

    &.active  {
      color: $blue--base;

      &::after {
        content: '';
        position: absolute;
        background: $yellow;
        height: 4px;
        border-radius: $border-radius $border-radius 0 0;
        left: -4px;
        right: -4px;
        bottom: -19px;
      }
    }
  }
}
