.l-panel {
  background-color: #fff;
  border: 1px solid $grey--light;
  border-radius: 2*$border-radius;
  box-shadow: 0 2px rgba($grey--light, 0.4);

  .l-row {
    border-bottom: 1px solid $grey--light;

    &:last-child {
      border-bottom: 0;
    }
  }

  .l-col {
    border-right: 1px solid $grey--light;
    
    &:last-child {
      border-right: 0;
    }
  }

  .l-panel__col--noborder {
    border-right: 0;
  }

  .l-panel__title {
    @include font(15px, 500);
    color: $purple--dark;
  }
}
